In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
import pprint
import os
import datetime

In [2]:
winemag2 = "./csv/winemag-data-130k-rob.csv"

winemag_data2 = pd.read_csv(winemag2)

winemag_data2.count()

Unnamed: 0               129971
country                  129908
description              129971
designation               92506
points                   129971
price                    120975
province                 129908
region_1                 108724
region_2                  50511
taster_name              103727
taster_twitter_handle     98758
title                    129971
variety                  129970
winery                   129971
dtype: int64

In [3]:
#strip out america as a province so we can compare states
winemag_data2.head()
#df = df[df.line_race != 0]
winemag_data2 = winemag_data2[winemag_data2.province != 'America']

In [4]:
#Remove unnecessary/unused columns
winemag2_df = winemag_data2.drop(columns=["Unnamed: 0","description","region_1","region_2","taster_name","taster_twitter_handle","title"])
winemag2_df.head()

,country,designation,points,price,province,variety,winery
0,Italy,Vulkà Bianco,87,NaN,Sicily & Sardinia,White Blend,Nicosia
1,Portugal,Avidagos,87,15.0,Douro,Portuguese Red,Quinta dos Avidagos
2,US,NaN,87,14.0,Oregon,Pinot Gris,Rainstorm
3,US,Reserve Late Harvest,87,13.0,Michigan,Riesling,St. Julian
4,US,Vintner's Reserve Wild Child Block,87,65.0,Oregon,Pinot Noir,Sweet Cheeks

In [5]:
#check row counts
winemag_all_rows = winemag2_df
winemag_all_rows.count()

country        129813
designation     92437
points         129876
price          120880
province       129813
variety        129875
winery         129876
dtype: int64

In [6]:
# get rid of the indexing from xls
winemag_all_rows=winemag_all_rows.reset_index(drop=True)
winemag_all_rows.head()

,country,designation,points,price,province,variety,winery
0,Italy,Vulkà Bianco,87,NaN,Sicily & Sardinia,White Blend,Nicosia
1,Portugal,Avidagos,87,15.0,Douro,Portuguese Red,Quinta dos Avidagos
2,US,NaN,87,14.0,Oregon,Pinot Gris,Rainstorm
3,US,Reserve Late Harvest,87,13.0,Michigan,Riesling,St. Julian
4,US,Vintner's Reserve Wild Child Block,87,65.0,Oregon,Pinot Noir,Sweet Cheeks

In [7]:
# have a look at the country counts and averages
by_country_count = winemag_all_rows.groupby("country").count()
by_country_count
by_country_mean = winemag_all_rows.groupby("country").mean().reset_index() #get country to show
by_country_mean

                   country     points      price
0                Argentina  86.710263  24.510117
1                  Armenia  87.500000  14.500000
2                Australia  88.580507  35.437663
3                  Austria  90.101345  30.762772
4   Bosnia and Herzegovina  86.500000  12.500000
5                   Brazil  84.673077  23.765957
6                 Bulgaria  87.936170  14.645390
7                   Canada  89.369650  35.712598
8                    Chile  86.493515  20.786458
9                    China  89.000000  18.000000
10                 Croatia  87.219178  25.450704
11                  Cyprus  87.181818  16.272727
12          Czech Republic  87.250000  24.250000
13                   Egypt  84.000000        NaN
14                 England  91.581081  51.681159
15                  France  88.845109  41.139120
16                 Georgia  87.686047  19.321429
17                 Germany  89.851732  42.257547
18                  Greece  87.283262  22.364425
19                 Hungary  89.191781  40.648276
20                   India  90.222222  13.333333
21                  Israel  88.471287  31.768916
22                   Italy  88.562231  39.663770
23                 Lebanon  87.685714  30.685714
24              Luxembourg  88.666667  23.333333
25               Macedonia  86.833333  15.583333
26                  Mexico  85.257143  26.785714
27                 Moldova  87.203390  16.745763
28                 Morocco  88.571429  19.500000
29             New Zealand  88.303030  26.931785
30                    Peru  83.562500  18.062500
31                Portugal  88.250220  26.218256
32                 Romania  86.400000  15.241667
33                  Serbia  87.500000  24.500000
34                Slovakia  87.000000  16.000000
35                Slovenia  88.068966  24.812500
36            South Africa  88.056388  24.668987
37                   Spain  87.288337  28.215275
38             Switzerland  88.571429  85.285714
39                  Turkey  88.088889  24.633333
40                      US  88.567314  36.602714
41                 Ukraine  84.071429   9.214286
42                 Uruguay  86.752294  26.403670

In [8]:
# just in case I want to look at the data 
winemag_all_rows.to_csv("./csv/winemag_cleaned.csv")

In [10]:
# verify data
winemag_all_rows.shape

(129876, 7)

In [11]:
# clean up blank entries
winemag_all_cleaned = winemag_all_rows.dropna()

In [12]:
# Strip out US specific data
winemag_US = winemag_all_rows.loc[winemag_all_rows['country'] == "US"]
winemag_US.head()

,country,designation,points,price,province,variety,winery
2,US,NaN,87,14.0,Oregon,Pinot Gris,Rainstorm
3,US,Reserve Late Harvest,87,13.0,Michigan,Riesling,St. Julian
4,US,Vintner's Reserve Wild Child Block,87,65.0,Oregon,Pinot Noir,Sweet Cheeks
10,US,Mountain Cuvée,87,19.0,California,Cabernet Sauvignon,Kirkland Signature
12,US,NaN,87,34.0,California,Cabernet Sauvignon,Louis M. Martini

In [16]:
# Find row count for US scores
winemag_US.shape

(54409, 7)

In [18]:
winemag_US.groupby("variety").count()

,country,designation,points,price,province,winery
variety,,,,,,
Abouriou,1,1,1,1,1,1
Aglianico,15,5,15,15,15,15
Albariño,131,68,131,129,131,131
Alicante Bouschet,6,4,6,6,6,6
Aligoté,10,2,10,10,10,10
Alvarelhão,1,1,1,1,1,1
Alvarinho,1,0,1,1,1,1
Apple,1,1,1,1,1,1
Arneis,15,8,15,15,15,15
Auxerrois,11,6,11,11,11,11
Baco Noir,16,8,16,16,16,16
Barbera,237,129,237,237,237,237
Barbera-Nebbiolo,1,1,1,1,1,1
Black Monukka,2,0,2,2,2,2
Black Muscat,11,7,11,11,11,11
Blanc du Bois,6,6,6,6,6,6
Blaufränkisch,16,16,16,16,16,16
Bordeaux-style Red Blend,1822,1717,1822,1815,1822,1822
Bordeaux-style White Blend,42,40,42,42,42,42
Cabernet,1,1,1,1,1,1
Cabernet Blend,21,20,21,21,21,21
Cabernet Franc,1003,545,1003,999,1003,1003
Cabernet Franc-Cabernet Sauvignon,1,1,1,1,1,1
Cabernet Franc-Lemberger,2,1,2,2,2,2
Cabernet Franc-Merlot,19,14,19,17,19,19
Cabernet Merlot,8,3,8,8,8,8
Cabernet Pfeffer,2,1,2,2,2,2
Cabernet Sauvignon,7305,4156,7305,7270,7305,7305
Cabernet Sauvignon-Barbera,1,0,1,1,1,1
Cabernet Sauvignon-Cabernet Franc,12,10,12,12,12,12
...,...,...,...,...,...,...
Tinta Madeira,1,1,1,1,1,1
Tocai Friulano,15,10,15,15,15,15
Torrontés,5,5,5,5,5,5
Touriga,3,0,3,3,3,3
Touriga Nacional,19,11,19,19,19,19
Touriga Nacional Blend,1,1,1,1,1,1
Traminette,10,5,10,10,10,10
Trebbiano,3,1,3,3,3,3
Trousseau Gris,3,1,3,3,3,3
Ugni Blanc,3,3,3,3,3,3
Valdiguié,6,5,6,6,6,6
Valvin Muscat,1,0,1,1,1,1
Verdejo,4,3,4,4,4,4
Verdelho,24,16,24,24,24,24
Vermentino,46,19,46,46,46,46
Vidal,3,3,3,3,3,3
Vidal Blanc,40,28,40,40,40,40
Vignoles,10,9,10,10,10,10
Viognier,790,414,790,786,790,790
Viognier-Chardonnay,2,2,2,2,2,2
Viognier-Gewürztraminer,2,2,2,2,2,2
Viognier-Grenache Blanc,2,0,2,2,2,2
Viognier-Marsanne,2,0,2,2,2,2
Viognier-Roussanne,7,7,7,7,7,7
Viognier-Valdiguié,1,0,1,1,1,1
White Blend,631,576,631,625,631,631
White Port,1,1,1,1,1,1
White Riesling,12,7,12,12,12,12
Zinfandel,2710,2048,2710,2704,2710,2710
Zweigelt,7,6,7,7,7,7

In [13]:
# order by state & use as index
by_US_state = winemag_US.groupby("province").mean().reset_index()
by_US_state.head()

      province     points      price
0      Arizona  84.926829  29.200000
1   California  88.627776  39.041048
2     Colorado  86.117647  32.985294
3  Connecticut  84.000000  15.333333
4       Hawaii  87.000000  28.000000

In [14]:
# adjust the by state values for better viewing
by_state_mean = by_US_state.sort_values(by=['points'], ascending=False)
by_state_mean["points"] = by_state_mean["points"] - 80

In [ ]:
# adjust country values to better highlight the differences
by_country_mean = by_country_mean.sort_values(by=['points'], ascending=False)
by_country_mean["points"] = by_country_mean["points"] - 80