In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
import pprint
import os
import datetime

# Incorporated citipy to determine city based on latitude and longitude
#from citipy import citipy

# Output File (CSV)

In [2]:
# Files to Load 
winemag1 = "../csv/winemag-data_first150k.csv"
winemag2 = "../csv/winemag-data-130k-v2.csv"

# Read the Mouse and Drug Data and the Clinical Trial Data

winemag_data1 = pd.read_csv(winemag1)
winemag_data2 = pd.read_csv(winemag2)

# Combine the data into a single dataset

winemag_data1.count()

Unnamed: 0     150930
country        150925
description    150930
designation    105195
points         150930
price          137235
province       150925
region_1       125870
region_2        60953
variety        150930
winery         150930
dtype: int64

In [3]:
winemag_data2.count()

Unnamed: 0               129971
country                  129908
description              129971
designation               92506
points                   129971
price                    120975
province                 129908
region_1                 108724
region_2                  50511
taster_name              103727
taster_twitter_handle     98758
title                    129971
variety                  129970
winery                   129971
dtype: int64

In [4]:
winemag_data1.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [5]:
winemag_data2.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [6]:
#winemag_data1.columns
#winemag1_df = winemag_data1.drop([0])
winemag1_df = winemag_data1.drop(columns=["Unnamed: 0","description","region_1","region_2"])
winemag1_df.head()

,country,designation,points,price,province,variety,winery
0,US,Martha's Vineyard,96,235.0,California,Cabernet Sauvignon,Heitz
1,Spain,Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Special Selected Late Harvest,96,90.0,California,Sauvignon Blanc,Macauley
3,US,Reserve,96,65.0,Oregon,Pinot Noir,Ponzi
4,France,La Brûlade,95,66.0,Provence,Provence red blend,Domaine de la Bégude

In [7]:
winemag2_df = winemag_data2.drop(columns=["Unnamed: 0","description","region_1","region_2","taster_name","taster_twitter_handle","title"])
winemag2_df.head()

,country,designation,points,price,province,variety,winery
0,Italy,Vulkà Bianco,87,NaN,Sicily & Sardinia,White Blend,Nicosia
1,Portugal,Avidagos,87,15.0,Douro,Portuguese Red,Quinta dos Avidagos
2,US,NaN,87,14.0,Oregon,Pinot Gris,Rainstorm
3,US,Reserve Late Harvest,87,13.0,Michigan,Riesling,St. Julian
4,US,Vintner's Reserve Wild Child Block,87,65.0,Oregon,Pinot Noir,Sweet Cheeks

In [8]:
winemag_all_rows = pd.concat([winemag1_df, winemag2_df])
winemag_all_rows.count()

country        280833
designation    197701
points         280901
price          258210
province       280833
variety        280900
winery         280901
dtype: int64

In [9]:
winemag_all_rows=winemag_all_rows.reset_index(drop=True)
winemag_all_rows.head()

,country,designation,points,price,province,variety,winery
0,US,Martha's Vineyard,96,235.0,California,Cabernet Sauvignon,Heitz
1,Spain,Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Special Selected Late Harvest,96,90.0,California,Sauvignon Blanc,Macauley
3,US,Reserve,96,65.0,Oregon,Pinot Noir,Ponzi
4,France,La Brûlade,95,66.0,Provence,Provence red blend,Domaine de la Bégude

In [10]:
by_country = winemag_all_rows.groupby("country").count()
by_country

                        designation  points   price  province  variety  winery
country
Albania                           0       2       2         2        2       2
Argentina                      6838    9431    9343      9431     9431    9431
Armenia                           2       2       2         2        2       2
Australia                      4987    7286    7188      7286     7286    7286
Austria                        5479    6402    5282      6402     6402    6402
Bosnia and Herzegovina            2       6       6         6        6       6
Brazil                           69      77      72        77       77      77
Bulgaria                        144     218     218       218      218     218
Canada                          324     453     448       453      453     453
Chile                          8796   10288   10182     10288    10287   10288
China                             2       4       4         4        4       4
Croatia                         108     162     154       162      162     162
Cyprus                           34      42      42        42       42      42
Czech Republic                    7      18      18        18       18      18
Egypt                             3       4       0         4        4       4
England                          83      83      77        83       83      83
France                        29037   43191   32561     43191    43191   43191
Georgia                         100     129     127       129      129     129
Germany                        4305    4617    4467      4617     4617    4617
Greece                          924    1350    1333      1350     1350    1350
Hungary                         306     377     375       377      377     377
India                             8      17      17        17       17      17
Israel                         1003    1135    1099      1135     1135    1135
Italy                         30779   43018   35698     43018    43018   43018
Japan                             2       2       2         2        2       2
Lebanon                          59      72      72        72       72      72
Lithuania                         8       8       8         8        8       8
Luxembourg                       15      15      15        15       15      15
Macedonia                        12      28      28        28       28      28
Mexico                           99     133     133       133      133     133
Moldova                         110     130     130       130      130     130
Montenegro                        0       2       2         2        2       2
Morocco                          21      40      40        40       40      40
New Zealand                    2269    4739    4448      4739     4739    4739
Peru                             16      16      16        16       16      16
Portugal                       9874   11013    9051     11013    11013   11013
Romania                         232     259     259       259      259     259
Serbia                           20      26      26        26       26      26
Slovakia                          0       4       4         4        4       4
Slovenia                        120     181     161       181      181     181
South Africa                   2022    3659    3530      3659     3659    3659
South Korea                       4       4       4         4        4       4
Spain                         11874   14913   14733     14913    14913   14913
Switzerland                       6      11      11        11       11      11
Tunisia                           2       2       0         2        2       2
Turkey                           97     142     140       142      142     142
US                            77253  116901  116404    116901   116901  116901
US-France                         0       1       1         1        1       1
Ukraine                          17      19      19        19       19      19
Uruguay                         172     201     194       201      201     201

In [11]:
by_variety = winemag_all_rows.groupby("variety").count()
by_variety

                        country  designation  points  price  province  winery
variety
Abouriou                      3            2       3      3         3       3
Agiorgitiko                 183          128     183    180       183     183
Aglianico                   676          499     676    553       676     676
Aidani                        2            2       2      2         2       2
Airen                         9            6       9      9         9       9
Albana                       40           39      40     34        40      40
Albanello                     1            1       1      1         1       1
Albariño                   1014          464    1014   1004      1014    1014
Albarossa                     3            3       3      3         3       3
Albarín                       1            1       1      1         1       1
Aleatico                     16           12      16     14        16      16
Alfrocheiro                  34           22      34     34        34      34
Alicante                     15           14      15     15        15      15
Alicante Bouschet            92           73      92     87        92      92
Aligoté                      60           24      60     59        60      60
Alsace white blend          103           98     103    100       103     103
Altesse                       9            3       9      9         9       9
Alvarelhão                    4            3       4      4         4       4
Alvarinho                   214          146     214    179       214     214
Alvarinho-Chardonnay          8            8       8      6         8       8
Angevine                      5            4       5      5         5       5
Ansonica                      6            6       6      3         6       6
Antão Vaz                    33           28      33     32        33      33
Apple                         8            8       8      8         8       8
Aragonez                     19            7      19     14        19      19
Aragonês                     25           17      25     20        25      25
Argaman                       6            6       6      6         6       6
Arinto                      149          110     149    120       149     149
Arneis                      150           70     150    143       150     150
Asprinio                      4            1       4      1         4       4
...                         ...          ...     ...    ...       ...     ...
Viognier-Roussanne           25           21      25     25        25      25
Viognier-Valdiguié            2            0       2      2         2       2
Viosinho                      5            2       5      5         5       5
Vital                         1            1       1      0         1       1
Vitovska                      4            3       4      4         4       4
Viura                       217          128     217    215       217     217
Viura-Chardonnay             24            5      24     24        24      24
Viura-Sauvignon Blanc         1            1       1      1         1       1
Viura-Verdejo                 3            2       3      3         3       3
Vranac                        0            1       1      1         0       1
Vranec                       15            6      15     15        15      15
Weissburgunder              103           83     103     85       103     103
Welschriesling               54           42      54     49        54      54
White Blend                5178         4579    5184   4726      5178    5184
White Port                    6            6       6      2         6       6
White Riesling               46           28      46     46        46      46
Xarel-lo                     47           38      47     45        47      47
Xinisteri                     6            4       6      6         6       6
Xinomavro                    94           63      94     91        94      94
Xynisteri                     3            0       3      3         3       3
Yapincak                      4            0       4      4         4       4
Zelen                         3            3       3      0         3       3
Zibibbo                      66           50      66     59        66      66
Zierfandler                  27           27      27     14        27      27
Zierfandler-Rotgipfler        8            2       8      6         8       8
Zinfandel                  6513         4876    6513   6502      6513    6513
Zlahtina                      6            3       6      6         6       6
Zweigelt                    428          288     428    382       428     428
Çalkarası                     2            2       2      2         2       2
Žilavka                       3            0       3      3         3       3

[756 rows x 6 columns]

In [14]:
winemag_all_rows.to_csv = "winemag_all_rows.csv"