In [1]:
%matplotlib notebook
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from random import sample

In [40]:
data = "wine_sales_2018_cali_only.csv"
wine_sales = pd.read_csv(data)
wine_sales.head()

,Year,California Wine Shipments to All Markets in the U.S. and Abroad2,California Wine Shipments to the U.S. Market2,Estimated Retail Value of CA Wine to U.S.3
0,2018,284.8,248.1,$40.2 billion
1,2017,280.5,241.8,$38.7 billion
2,2016,280.8,240.3,$37.1 billion
3,2015,279.4,234.8,$35.4 billion
4,2014,277.6,233.0,$33.8 billion

In [41]:
df=pd.DataFrame(wine_sales)
df=df.set_index('Year')
df.head()

,California Wine Shipments to All Markets in the U.S. and Abroad2,California Wine Shipments to the U.S. Market2,Estimated Retail Value of CA Wine to U.S.3
Year,,,
2018,284.8,248.1,$40.2 billion
2017,280.5,241.8,$38.7 billion
2016,280.8,240.3,$37.1 billion
2015,279.4,234.8,$35.4 billion
2014,277.6,233.0,$33.8 billion

In [42]:

print(df.iloc[0],[6])

California Wine Shipments to All Markets in the U.S. and Abroad2            284.8
California Wine Shipments to the U.S. Market2                               248.1
Estimated Retail Value of CA Wine to U.S.3                          $40.2 billion
Name: 2018, dtype: object [6]

In [43]:
labels = ["Table Wine", "Dessert Wine", "Sparkling Wine/Champagne"]
value =[338.7,40.4,27.4]
total = [406.5]
explode = (0.1, 0,0)
colors = ["maroon", "yellow", "lightcoral", "orange" ]
plt.pie(value, explode=explode, labels=labels, colors=colors,
        autopct="%1.1f%%", shadow=True, startangle=140)

([<matplotlib.patches.Wedge at 0x1c0294c8358>,
  <matplotlib.patches.Wedge at 0x1c02a4b4b70>,
  <matplotlib.patches.Wedge at 0x1c02a4b45c0>],
 [Text(0.4099884625620273, -1.127789634890313, 'Table Wine'),
  Text(-0.15014351906712523, 1.0897049709357758, 'Dessert Wine'),
  Text(-0.6752162112804365, 0.8683795644901445, 'Sparkling Wine/Champagne')],
 [Text(0.2391599364945159, -0.6578772870193492, '83.3%'),
  Text(-0.08189646494570467, 0.5943845296013323, '9.9%'),
  Text(-0.36829975160751083, 0.47366158063098784, '6.7%')])

In [44]:
plt.show()
plt.savefig('wine_sales 2018.png')